.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.6);
}

.navbar {
  display: flex;
  background: rgba(51, 51, 51, 0.6);
  padding: 0 2rem;
  max-width: 1200px;
  width: 100%;
}

.navbar-logo .logo {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-auth {
  color: white;
  display: flex;
  align-items: center;
}

.auth-link {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.auth-link:hover {
  text-decoration: underline;
}

.preorder-button {
  background-color: #f60;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: 1rem;
}

.preorder-button:hover {
  background-color: #e55;
}
