.navbar-logo {
  margin-right: 15vh;
  width: 100px;
  height: auto;
}

.navbar-nav .nav-link {
  color: white;
  margin-right: 10px;
}

.btn-outline-light {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    flex-direction: column;
  }
}
.custom-navbar {
  background-color: #1d333e;
}
.custom-navbar {
  background-color: #1d333e;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.gif-container {
  position: relative;
}
