.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(51, 51, 51, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-logo .logo {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  align-items: center;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-auth {
  color: white;
  display: flex;
  align-items: center;
}

.auth-link {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.auth-link:hover {
  text-decoration: underline;
}

.preorder-button {
  background-color: #f60;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  margin-left: 1rem;
}

.preorder-button:hover {
  background-color: #e55;
}

.gif-container {
  position: relative;
}

.animated-gif {
  width: 100%;
  height: 82vh;
  object-fit: cover;
}
