.margin {
  margin-top: 10vh;
}

.text-center h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.text-center p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.row .col-md-6 p {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.full-width-background {
  background-color: var(--color-dark);
  width: 100%;
  padding: 2rem 0;
}
