#root {
  height: 100%;
}

.background {
  background-image: url("./Images/summer2024_tile_bg.png");
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.page-container {
  height: 100vh;
  overflow-y: auto;
}
h1 {
  background: linear-gradient(-45deg, #00f, #fff, #ff0);
  -webkit-background-clip: text;
  color: var(--bgcolor);
  -webkit-text-stroke: 3px transparent;
}
