.promo-banner {
  position: relative;
  min-height: 540px;
  min-width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #1d333e;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
}

.promo-banner h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.promo-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  color: black;
}

.promo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-item .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.promo-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.promo-button:hover {
  background-color: #0056b3;
}
