.cart-summary-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 8px 0 0 8px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cart-summary-content {
  text-align: center;
}

.checkout-form {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.error-message {
  color: #dc3545;
}

.custom-modal .modal-content {
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-header {
  border-bottom: none;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-modal .modal-header .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.custom-modal .modal-body {
  padding: 2rem;
}

.custom-modal .modal-footer {
  border-top: none;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.custom-modal .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.custom-modal .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.custom-modal .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-modal .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.modal-header-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-title {
  margin: 0;
  text-align: center;
  width: 100%;
}
