.footer {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.position {
  bottom: 0;
}
.footer-links {
  font-size: 14px;
  font-weight: bold;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-logo {
  max-height: 40px;
  max-width: 80px;
}

.pegi-logo {
  width: 50px;
  height: auto;
}

.flag-icon {
  width: 25px;
  height: auto;
}

.footer-text p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 20px;
}

.btn-outline-light {
  font-size: 14px;
}
