.navbar-logo {
  margin-right: 15vh;
  width: 100px;
  height: auto;
}
html,
body {
  margin: 0;
  padding: 0;
}
.navbar-nav .nav-link {
  color: white;
  margin-right: 10px;
}

.btn-outline-light {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    flex-direction: column;
  }
}
.custom-navbar {
  background-color: #1d333e;
}

.custom-navbar {
  margin: 0;
  padding: 0;
  background-color: #1d333e;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
.gif-container {
  position: relative;
}
.custom-navbar .cart-count {
  margin-left: 5px;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  vertical-align: top;
}
