.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  margin-left: 20px; /* Aggiunge margine sinistro alla sezione principale */
}

.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 50px; /* Aggiunge margine sinistro all'immagine del profilo */
}

.profile-image-section img {
  width: 100px; /* Dimensione dell'immagine */
  height: 100px;
  border-radius: 50%; /* Rende l'immagine circolare */
  object-fit: cover; /* Assicura che l'immagine non distorca */
  border: 2px solid #ccc; /* Aggiunge un bordo sottile all'immagine */
}

.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px; /* Aggiunge margine sinistro ai dati utente */
}

.profile-info-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.profile-info-item strong {
  margin-right: 10px;
  min-width: 120px;
}

.profile-info input {
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #e9ecef;
  margin: 10px 0;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.profile-buttons .btn {
  width: 150px;
}

.purchase-graph {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}
